

body {background-color: green;
    text-align: center;
}

#mbappe {margin-right: 50%;
}
#mbappe {width: 100px;}
#michel {width: 400px;}
body {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif   ;}
